*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   background-color: #f8fafc;
}


.heading{
    font-size: 3rem;
    font-weight: 700;
    color: #0f172a;
    display: flex;
    justify-content: center;
}

.title{
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    color: #60a5fa;
}
.sub-title{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #0f172a;   
}

.feature-content{
    height: 100px;
    width: 700px;
    margin: 2rem 0 0 25rem;
    background-color: #E0F2FE;
    text-align: center;
    border-radius: 12px;
}
.feature-content:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.feature-box{
    font-size: 2rem;
    color: #1E293B;
}
.details{
    font-size: 1.5rem;
    color: #475569;
}
