* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   background-color: #f8fafc;
}

.header{
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: #0f172a;
}

.heading{
    padding-left: 40px;
    display: flex;
    font-size: 48px;
}

.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}

.nav-links{
   display: flex;
   gap: 25px;
}
.navbar a{
    color: black;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
}



.navbar .home{
    color: #60a5fa;
}
a:hover{
    color: #60a5fa;
}

.button{
   text-align: center;
   margin-top: 4rem
}

button{
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: white;
    background-color: #2563eb;
    padding: 12px 28px;
    cursor: pointer;
}
.button:hover{
    transform: scale(1.1);
}


.description-one{
    text-align: center;
    font-size: 5rem;
    padding: 6rem 20rem 0 20rem ;
    color: #475569;
}

.description-two{
    text-align: center;
    color: #475569;
    font-size: 3rem;
    padding: 6rem 20rem 0 20rem ;
}
.menu-icon{
   display: none;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
  }

  .description-one, .description-two{
    font-size: 28px;
    line-height: 1.3;
    text-align: center;
  }
}




